* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	touch-action: none;
	user-select: none;
}

#instruction-background {
	width: 100vw;
	height: 100vh;
}

#instructions-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#instructions {
	padding: 20px;
	border-radius: 30px;
	background-image: linear-gradient(rgb(64, 150, 221), black);
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0, 0, 150);
	font-family: "Indie Flower", cursive;
	color: rgb(255, 196, 0);
	font-size: 20px;
	font-weight: 800;
	text-shadow: 4px 4px 8px black;
	box-shadow: 8px 8px 28px black;
}

#back p {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 50px;
	background-color: rgb(0, 0, 150);
	border-style: solid;
	border-width: 2px;
	border-color: red;
	color: yellow;
	font-weight: 800;
	text-shadow: 2px 2px 3px black;
	box-shadow: 8px 8px 18px black;
	cursor: pointer;
}

@media (max-width: 999px) {
	#instructions {
		font-size: 15px;
	}
}

@media (max-width: 700px) {
	#instructions {
		font-size: 13px;
	}
}

@media (max-width: 500px) {
	#instructions {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
	#instructions {
		font-size: 10px;
	}
}
