* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    touch-action: pan-y;
    touch-action: pan-x;
    user-select: none;
}

#canvas1 {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid blue;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Creepster', cursive;
    touch-action: pan-y;
    touch-action: pan-x;
    user-select: none;
}

img {
    display: none;
}

#power-button-div {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#roll {
    position: relative;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: .6;
}

.roll {
    position: absolute;
    background-color: green;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    color: red;
    font-size: 14px;
}

#button-div {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 200px;
    width: 200px;
    background-color: transparent;
}

#up,
#right,
#down,
#left {
    position: relative;
    background-color: green;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    opacity: .6;
}

#up-span,
#right-span,
#down-span,
#left-span {
    position: absolute;
    height: 10px;
    width: 10px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg);
    left: 15px;
    top: 15px;
}

.up {
    position: absolute;
    top: 0%;
    left: 10%;
}

.right {
    transform: rotate(90deg);
    position: absolute;
    top: -5%;
    left: 30%;
}

.down {
    transform: rotate(180deg);
    position: absolute;
    top: -10%;
    left: 10%;
}

.left {
    transform: rotate(-90deg);
    position: absolute;
    top: -55%;
    left: -10%;
}

#startButton {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 110;
    border-radius: 50px;
    background-color: blue;
    color: yellow;
    font-weight: 800;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .9);
    cursor: pointer;
}

@media (min-width: 999px) {
    #button-div {
        display: none;
    }

    #power-button-div {
        display: none;
    }
}