* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    touch-action: none;
    user-select: none;
}

#turn-phone {
    display: none;
}

#canvas1 {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid blue;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Creepster', cursive;
    touch-action: none;
    user-select: none;
}

img {
    display: none;
}

#power-button-div {
    position: absolute;
    top: 45%;
    right: 5%;
    transform: translate(-50%, -150%);
    opacity: .4;
}

#roll {
    position: relative;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.roll {
    position: absolute;
    background-color: green;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    color: red;
    font-size: 14px;
}

#bite {
    position: absolute;
    top: 300%;
    cursor: pointer;
}

.bite {
    position: absolute;
    background-color: green;
    padding: 20px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 50%;
    color: red;
    font-size: 14px;
}

#button-div {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 200px;
    width: 200px;
    background-color: transparent;
}

#up,
#right,
#down,
#left {
    position: relative;
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: .4;
}

#up-span,
#right-span,
#down-span,
#left-span {
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg);
    left: 18px;
    top: 20px;
}

.up {
    position: absolute;
    top: -8%;
    left: 10%;
}

#up-right {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 110%;
    top: 60%;
}

.right {
    transform: rotate(90deg);
    position: absolute;
    top: -5%;
    left: 35%;
}

#right-down {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 50%;
    left: 110%;
}

.down {
    transform: rotate(180deg);
    position: absolute;
    top: -2%;
    left: 10%;
}

#down-left {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 60%;
    left: 110%;
}

.left {
    transform: rotate(-90deg);
    position: absolute;
    top: -55%;
    left: -15%;
}

#left-up {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 55%;
    left: 110%;
}

#startButton {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 110;
    border-radius: 50px;
    background-color: blue;
    color: yellow;
    font-weight: 800;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .9);
    cursor: pointer;
}

@media (min-width: 999px) {

    #button-div {
        display: none;
    }

    #power-button-div {
        display: none;
    }
}

@media (max-width: 400px) {
    #top-arrow img {
        display: flex;
        position: absolute;
        height: 50px;
        width: 50px;
        top: 8%;
        left: 30%;
        z-index: 100;
    }

    #turn-phone {
        display: flex;
        margin-top: 130px;
        margin-left: 20px;
    }

    #bottom-arrow img {
        display: flex;
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-left: 120px;
        z-index: 100;
    }

    #button-div {
        display: none;
    }

    #power-button-div {
        display: none;
    }
}