* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#canvas1 {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid blue;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    touch-action: pan-y;
    touch-action: pan-x;
    font-family: 'Creepster', cursive;
}

img {
    display: none;
    pointer-events: none;
    user-select: none;
}

#power-button-div {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
    user-select: none;
}

span {
    position: absolute;
    padding-bottom: 20px;
    color: red;
    font-weight: 900;
    font-size: 12px;
    top: 75%;
    transform: translate(-50%, -50%);
    left: 50%;
    pointer-events: none;
    user-select: none;
}

#button-roll-div {
    cursor: pointer;
    opacity: .4;
    pointer-events: none;
    user-select: none;
}

#roll-button-image {
    position: relative;
    display: flex;
    pointer-events: none;
    user-select: none;
}

#roll-button {
    display: flex;
    border: none;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

#button-div {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

#button-up-div {
    cursor: pointer;
    opacity: .4;
    pointer-events: none;
    user-select: none;
}

#up-button-image {
    position: relative;
    display: flex;
    pointer-events: none;
    user-select: none;
}

#up-button {
    display: flex;
    border: none;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

#button-right-div {
    margin-left: 40px;
    cursor: pointer;
    opacity: .4;
    pointer-events: none;
    user-select: none;
}

#right-button-image {
    position: relative;
    display: flex;
    pointer-events: none;
    user-select: none;
}

#right-button {
    display: flex;
    border: none;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

#button-down-div {
    cursor: pointer;
    opacity: .4;
    pointer-events: none;
    user-select: none;
}

#down-button-image {
    position: relative;
    display: flex;
    pointer-events: none;
    user-select: none;
}

#down-button {
    display: flex;
    border: none;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

#button-left-div {
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: .4;
    pointer-events: none;
    user-select: none;
}

#left-button-image {
    display: flex;
    pointer-events: none;
    user-select: none;
}

#left-button {
    position: relative;
    border: none;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

#startButton {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 110;
    border-radius: 50px;
    background-color: blue;
    color: yellow;
    font-weight: 800;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .9);
    cursor: pointer;
}

/* #fullscreen:hover {
    background-color: rgb(20, 102, 255);
    color: yellow;
} */

@media (min-width: 999px) {
    #button-up-div {
        display: none;
    }

    #button-right-div {
        display: none;
    }

    #button-down-div {
        display: none;
    }

    #button-left-div {
        display: none;
    }

    #power-button-div {
        display: none;
    }
}