* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#canvas1 {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid blue;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    touch-action: pan-y;
    touch-action: pan-x;
    font-family: 'Creepster', cursive;
}

img {
    display: none;
}

/* #fullscreen {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 8px;
    border-radius: 10px;
    background-color: blue;
    color: yellow;
    font-weight: 800;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .9);
    cursor: pointer;
}

#fullscreen:hover {
    background-color: rgb(20, 102, 255);
    color: yellow;
} */